{% extends 'base.html.twig' %}

{% block title %}Catégorie #{{ category.name }}{% endblock %}

{% block body %}
    <h1>Catégorie {{ category.name }}</h1>
    {% for program in programs %}
        <div>
            <h2><a href="{{ path("program_show", { id: program.id }) }}">{{ loop.index }} / {{ program.title }}</a> - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.synopsis }}</p>
            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

{% endblock %}